.big
{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
}
.div
{ display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
}
.input-box{
    margin-bottom: 25px;
    color: #000;
}
.label-product{
    font-weight: 400;
    color: aliceblue;
}

.button-dis{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
}

.verified
{
    border: 5px purple;
    border-style: solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.un-verified
{
    border: 5px orange;
    border-style: solid;
}