.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: radial-gradient(99.31% 255.54% at 0.69% 1.27%, #16419D 12.41%, #000545 100%);
}
/*  */
.display-output{
    color: white;
    
}
.display-img
{
    border: 4px red;
    border-style: dotted;
}