.big
{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
}
h1{
    padding-bottom: 20px;
}
.chota{
    display:flex;
    flex-direction: column;
    row-gap: 15px;
}
.div
{ display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap:20px;
   
}
.input-box{
    margin-bottom: 25px;
    color: #000;
}
.label-product{
    font-weight: 400;
    color: aliceblue;
}

.button-dis{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
}

.verified
{
    /* border: 5px purple; */
    margin-top: 10px;
    padding-top: 15px;
    border-style: solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.un-verified
{
    border: 5px orange;
    border-style: solid;
}