
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapperLanding {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgLanding {
    background-image: url(./img\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* to take image to navbar */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.cardPart {
    width: 50%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    color: white;
    row-gap: 20px;
}


.mainheading {
    width:auto;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1.5px;

    /* css */
    background: linear-gradient(168.06deg, #FFFFFF 8.73%, #232F6A 111.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
/* text-fill-color: transparent; */
}

.subHeading {
  width: 330px;
    font-size: 1rem;
    text-align: start;
    display: flex;
    align-items: start;
    margin-bottom: 20px;
    color: #B0B0B0;
}

.HomeButton {
    background-color: white;
    color: black;
    border-radius: 5px;
    margin: 0.3rem;
    padding: 0.3rem;
}


/* button */

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}