*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

.div-product
{
    display: flex;
    margin-bottom: 20px;
    align-items:flex-start;
    justify-content: space-between;
    /* border:2px red;
    border-style:solid; */
    flex-direction: column;
    
}
.input-box
{
    border-radius: 5px;
    padding: 5px;
    width:710px;

}
.label-product{
    font-weight: 600;
    color: aliceblue;
    margin-bottom: 10px;
}
.product{
    background: radial-gradient(99.31% 255.54% at 0.69% 1.27%, #16419D 12.41%, #000545 100%);
    width: 100vw;
    height: 100vh;
}

/* .submit-product {
    width: 50px;
} */

.ButtonParent {
    display: flex;
    justify-content: center;

}