.div-product
{
    display: flex;
    margin-bottom: 20px;
    align-items:flex-start;
    justify-content: space-between;
    /* border:2px red;
    border-style:solid; */
    flex-direction: column;
    
}
.input-box
{
    border-radius: 5px;
    padding: 5px;
    width:710px;

}
.label-product{
    font-weight: 400;
    color: aliceblue;
}
.product{
    background: radial-gradient(99.31% 255.54% at 0.69% 1.27%, #16419D 12.41%, #000545 100%);

}