.div-product
{
    display: flex;
    margin-bottom: 20px;
    align-items:flex-start;
    justify-content: space-between;
    /* border:2px red;
    border-style:solid; */
    flex-direction: column;
}
.input-box
{
    border-radius: 5px;
    padding: 5px;
    width:710px;

}
.label-product{
    font-weight: 400;
    color: aliceblue;
}