
.App{

    /* background: radial-gradient(99.31% 255.54% at 0.69% 1.27%, #16419D 12.41%, #000545 100%) */
    /* overflow-y: hidden; */
}
.mainApp
{
  background: radial-gradient(99.31% 255.54% at 0.69% 1.27%, #16419D 12.41%, #000545 100%) 
}
.product{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border:2px #fff; */
    border-style:solid;

   
}

.form-product{
    width:auto;
    margin: 20px;
    /* border:5px green;
    border-style:solid; */
    display: flex;
    flex-direction: column;
}


.lable-product
{
    margin-right: 15px;
}

.lable-product
{
    margin-right: 10px;
}
.submit-product{


  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* singup page  */



.signup-form{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:5px maroon; */
    flex-direction: column;
    border-style: dashed;
}

/* heading */
.heading{
    font-weight: 700;
    color: #FFFFFF;
    font-size: large;
    margin-bottom:15px;
    /* justify-content: center; */
}